<p id="notice"><%= notice %></p>

<h1>Api Poll Options</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_poll_options.each do |api_poll_option| %>
      <tr>
        <td><%= link_to 'Show', api_poll_option %></td>
        <td><%= link_to 'Edit', edit_api_poll_option_path(api_poll_option) %></td>
        <td><%= link_to 'Destroy', api_poll_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Poll Option', new_api_poll_option_path %>
