<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @bid.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bid.body %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
